version: '3.8'
services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: devops_db
      POSTGRES_USER: amarjeet
      POSTGRES_PASSWORD: password123
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_NAME: devops_db
      DB_USER: amarjeet
      DB_PASS: password123
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "9090:80"  # <--- Yahan 8080 ki jagah 9090 kar dein
    depends_on:
      - backend

volumes:
  pgdata: